@import "./src/assets/styles/main";

.form-container {
  width: 100%;

  .form-errors-container {
    padding: 1em 2em;
    margin-bottom: 16px;
    background-color: $primary-color;
    border: 1px solid darken($primary-color, 15%);
    border-radius: 8px;
    color: #fff;
    list-style-type: disc;

    & > li {
      line-height: 21px;
    }
  }

  .form-row {
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .form-widget {
      width: 100%;
    }

    .form-split-widget {
      width: 50%;

      &:first-child {
        margin-right: 16px;
      }
    }

    .cancel-btn {
      cursor: pointer;
    }

    .form-label {
      margin-bottom: 8px;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #000;
    }

    .form-control {
      .input-control {
        width: 100%;
        padding: 8px 30px 8px 24px;
        background: #fff;
        border: 2px solid $primary-color;
        border-radius: 32px;
        font-family: inherit;

        &.nonresizable {
          resize: none;
        }

        &.quote-textarea {
          height: 125px;
          border-radius: 16px;
          padding: 16px 24px;
        }
      }

      .field-error {
        font-size: 13px;
        color: $danger-color;
        font-weight: 300;
      }

      .btn {
        width: 100%;
        border: none;
      }
    }
  }

  &.quote-form {
    .form-row:first-child {
      margin-bottom: 32px;
    }

    .form-row:last-child {
      margin-bottom: 0;
    }

    .form-widget.quote-form-btns {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .form-control .btn {
        width: 140px;
        margin-right: 30px;
      }
    }
  }
}
