@import "../../assets/styles/main";

.quote {
  width: 420px;

  .quote-card {
    background: #fff;
    padding: 16px 32px 16px 16px;
    box-shadow: 0 0 8px rgba(0 0 0 / 15%);
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .votes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  &-container {
    flex: 9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;

    &-message {
      flex-grow: 1;
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #000;
    }

    &-author {
      flex-shrink: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .author-avatar {
        background: $avatar-img;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 10px;
        width: 24px;
        height: 24px;
      }

      .author {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.4px;
        color: #000;
      }
    }
  }
}

.recent-quotes {
  .masonry-layout {
    margin: 35px 0 48px;
  }

  .btn {
    margin: 0 auto;
  }
}
