@import "./src/assets/styles/main";

.login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-container {
    width: 420px;
    font-weight: 400;
    color: #322d38;

    .form-title {
      font-size: 35px;
      line-height: 41px;
      text-align: center;
      letter-spacing: 0.25px;
    }

    .form-description {
      margin: 8px 0 16px;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
    }

    .avatar {
      width: 80px;
      height: 80px;
      margin: 0 auto;
      background: $avatar-img;
      background-size: contain;
      filter: drop-shadow(0 0 8px rgb(0 0 0 / 15%));
    }

    .form-options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;

      &-description {
        color: #322d38;
      }

      .form-option {
        color: $secondary-color;
        cursor: pointer;

        @include transition(0.1s ease-in-out);

        &:hover {
          color: darken($color: $secondary-color, $amount: 15);
        }
      }
    }
  }
}
