@import "./src/assets/styles/main";

.landing {
  margin: 12.5rem 5%;

  .top-vector-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 650px;
    z-index: -2;
    height: 500px;
    background: $vector2-img;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .quotes {
    margin-top: 10rem;

    .secondary-title {
      font-weight: 300;
      font-size: 61px;
      line-height: 72px;
      text-align: center;
      letter-spacing: -0.5px;
      color: #000;
      margin-bottom: 7.5rem;
    }

    &-title-container {
      text-align: center;
      width: 520px;
      margin: 10rem auto 0;

      h3 {
        color: $primary-color;
        font-weight: 400;
        font-size: 35px;
        line-height: 41px;
        letter-spacing: 0.25px;
      }

      .description {
        margin-top: 8px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #000;
      }
    }
  }
}
