@import "./src/assets/styles/main";

.footer {
  flex-shrink: 1;
  background: linear-gradient(257.39deg, $secondary-color, $primary-color);
  box-shadow: 0 0 8px rgb(0 0 0 / 15%);
  border-radius: 32px 32px 0 0;

  &-container {
    padding: 15px 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-img {
      background-image: $footer-img;
      background-size: cover;
      width: 33px;
      height: 25px;
    }

    .footer-msg {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #fff;
    }
  }
}
