@import "./src/assets/styles/main";

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.modal-container {
    width: 593px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0 0 0 / 15%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 32px;

    .modal-header {
      margin-bottom: 32px;

      h2,
      p {
        color: #322d38;
        font-weight: 400;
      }

      h2 {
        font-size: 35px;
        line-height: 41px;
        letter-spacing: 0.25px;
        margin-bottom: 16px;
      }

      p {
        font-size: 16px;
        line-height: 19px;
      }

      .primary-color {
        color: $primary-color;
      }
    }
  }
}
