@import "./src/assets/styles/main";

.hero {
  margin: 0 5%;

  .hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text {
      width: 556px;

      .page-title {
        font-weight: 300;
        font-size: 98px;
        line-height: 90px;
        letter-spacing: -1.5px;
        color: #000;
      }

      .description {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #000;
        margin: 16px 0 32px;
      }

      .btn {
        display: inline-block;
      }
    }
  }

  .quotes-block {
    width: 400px;
    height: 340px;
    background: $quotes-img;
    background-size: cover;
    background-position: center;
  }
}
