@import "./src/assets/styles/main";

.btn {
  padding: 10px 0;
  width: 140px;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  border-radius: 32px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fff;

  @include transition(0.2s ease-in-out);

  &.btn-primary {
    background: $primary-color;

    &:hover {
      background: darken($primary-color, 10);
    }
  }

  &.btn-secondary {
    background: $secondary-color;

    &:hover {
      background: darken($secondary-color, 10);
    }
  }

  &.btn-default {
    padding: 8px 0;
    border: 2px solid $secondary-color;
    color: $primary-color;
    background: #fff;

    &:hover {
      background: $secondary-color;
      -webkit-text-fill-color: #fff;
      color: #fff;
    }
  }
}
