@import "../../assets/styles/main";

.navbar {
  margin: 46px 5% 0;
  flex-shrink: 1;
  box-sizing: border-box;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      margin-top: -1em;
      background-image: $logo-img;
      background-size: cover;
      width: 116px;
      height: 28px;
      cursor: pointer;
    }

    &-items {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav-item {
        &.btn-margin-right {
          margin-right: 30px;
        }
      }

      .navbar-auth {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-item {
          cursor: pointer;
          color: #fff;
          margin-left: 24px;

          &.nav-avatar-btn {
            margin: 0 16px 0 32px;
          }

          .nav-circle-btn {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-position: center;
            filter: drop-shadow(0 0 8px rgba(0 0 0 / 15%));
          }

          .user-avatar {
            background: $avatar-img;
            background-size: contain;
          }

          .add-quote-btn {
            background: $create-img;
            background-size: contain;
          }
        }
      }
    }
  }
}
