@import "https://fonts.googleapis.com/css2?family=Raleway&display=swap";

$font: "Raleway", "Open Sans", sans-serif;
$logo-img: url("../images/logo.png");
$avatar-img: url("../images/avatar.png");
$create-img: url("../images/create-icon.png");
$footer-img: url("../images/footer-icon.png");
$quotes-img: url("../images/quotes-img.png");
$vector2-img: url("../images/Vector-2.png");
$primary-color: #de8667;
$secondary-color: #efb467;
$danger-color: #df4759;
