@import "./main";
@import "./reset";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font;
  position: relative;
  font-weight: 400;

  .app {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    .page-container {
      flex-grow: 1;
    }

    span.primary-color {
      color: $primary-color;
    }
  }
}
